<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelToPowerpoint2.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ExcelToPowerpoint2.MySettings>
            <setting name="SettingExcelFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingPowerPointTemplateFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingPowerPointOutputFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingPhotoFolderName" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingNumberOfColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingRowNumberToGetColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingDateFormat" serializeAs="String">
                <value />
            </setting>
        </ExcelToPowerpoint2.MySettings>
    </userSettings>
</configuration>